body{
    margin: 0px;
    padding: 0px;
    background:	#000923;
    font-family: 'Fredoka One', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: aliceblue;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: #fff;
}