@media(max-width: 1200px){
    #container-login{
        width: 340px;
        height: 250px;
        background-color: rgba(255, 255, 255, 0.3);
        border-radius: 10px;
        margin: 0 auto;
        margin-top: 180px;
        text-align: center;
    }

    #container-login img{
        width: 80px;
        height: 80px;
        margin-top: -60px;
        margin-bottom: 30px;
        border-radius: 20px;
    }

    input{
        width: 80%;
        height: 30px;
        font-size: 14px;
        margin-bottom: 10px;
        background-color: #fff;
        border: none;
        background-repeat: no-repeat;
        background-position: 10px;
    }
    
    input.email{
        background-image: url(../imagens/icone-usuario.png);
        padding-left: 40px;
    }
    
    input.senha{
        background-image: url(../imagens/icone-cadeado.png);
        padding-left: 40px;
    }
    
    
    input.submit{
        color: #fff;
        background-color:#000919;
        margin: 2px solid #083a96;
        padding: 5px 20px;
        height: 3s5px;
        width: 90%;
        cursor: pointer;
    
        background: -o-linear-gradient(to bottom, #faa600 #f68a00);
    }
}