@media(max-width: 1200px){
    #container-login{
        width: 340px;
        height: 250px;
        background-color: rgba(255, 255, 255, 0.3);
        border-radius: 10px;
        margin: 0 auto;
        margin-top: 180px;
        text-align: center;
    }

    #container-login img{
        width: 80px;
        height: 80px;
        margin-top: -60px;
        margin-bottom: 30px;
        border-radius: 20px;
    }

    input{
        width: 80%;
        height: 30px;
        font-size: 14px;
        margin-bottom: 10px;
        background-color: #fff;
        border: none;
        background-repeat: no-repeat;
        background-position: 10px;
    }
    
    input.email{
        background-image: url(../imagens/icone-usuario.png);
        padding-left: 40px;
    }
    
    input.senha{
        background-image: url(../imagens/icone-cadeado.png);
        padding-left: 40px;
    }
    
    
    input.submit{
        color: #fff;
        background-color:#000919;
        margin: 2px solid #083a96;
        padding: 5px 20px;
        height: 3s5px;
        width: 90%;
        cursor: pointer;
    
        background: -o-linear-gradient(to bottom, #faa600 #f68a00);
    }

    /*Campos de cadastro*/

    #container-cadastro{
        width: 340px;
        height: 370px;
        background-color: rgba(255, 255, 255, 0.3);
        border-radius: 10px;
        margin: 0 auto;
        margin-top: 120px;
        margin-bottom: 40px;
        text-align: center;
    }
    
    #container-cadastro img{
        width: 80px;
        height: 80px;
        margin-top: -60px;
        margin-bottom: 30px;
        border-radius: 20px;
    }

    #container-cadastro .email1{
    padding-left: 40px;
    width: 80%;
    height: 30px;
    margin-bottom: 10px;
    background-image: url(../imagens/icone-email2.png);
    }
    
    #container-cadastro .senha1{
        width: 80%;
        height: 30px;
        margin-bottom: 10px;
        padding-left: 40px;
        background-image: url(../imagens/icone-cadeado.png);    
    }
    
    #container-cadastro .nome1{
        width: 80%;
        height: 30px;
        margin-bottom: 10px;
        padding-left: 40px;
        background-image: url(../imagens/icone-usuario.png);
    }
    
    #container-cadastro .cpf1{
        width: 80%;
        height: 30px;
        margin-bottom: 10px;
        padding-left: 40px;
        background-image: url(../imagens/icone-cpf2.png);
    }

    #container-cadastro .cpf1{
    padding-left: 40px;
    background-image: url(../imagens/icone-cpf2.png);
    }

    #container-cadastro .cadastrar{
        width: 80%;
    }


/* ************************* INDEX **************************** */

.cabecalho img{
    width: 20%;
    height: 70%;
    padding: 10px;
}

.cabecalho ul{
    width: 50%; 
    padding-left: 0px;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

.nome-usuario{
    float: right;
    color: #fff;
    display: inline;
    text-align: center;
}

.nome-academia{
    clear: both;
    float: right;
    color: #f68a00;
    text-align: center;
}

.sair{
    font-size: 1.2em;
    color: #fff;
    margin: auto 25px;
    padding: 0px;
    right: 0px;
    top: 25px;
}

#area-conteudo{
    display: flex;
    justify-content: center;
}

#area-conteudo{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 20px;
    }
    
.campos{
        width: 65%;
        height:65%;
        padding: 10px;
        background: -webkit-gradient(linear, left top, right bottom, from(#191b1f), to(rgb(7, 80, 129))) no-repeat;
        border-radius: 30px;
        text-align: center;
        font-size: 1.5em;
        color: #fff;
        align-items: center;
        margin-top: 20px;
        margin-bottom: 20px;
    }

}